<footer class="font-tw-sans text-center py-6 py-md-8 border-dark border-top border-3">
  <div class="container">
    <p class="mb-0 fs-11 fs-lg-10">
      © 7TAO七逃. All Rights Reserved
    </p>
  </div>
</footer>