<nav class="navbar navbar-expand-lg bg-transparent py-6 border-bottom border-3 border-dark">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center py-0 me-0 me-md-12" href="index.html">
          <img class="me-0 me-md-4" src="../assets/images/logo.png" alt="7TAO">
          <div class="d-none d-md-flex align-items-center">
            <h1 class="fs-4 font-en-serif me-1 mb-0">7TAO</h1>
            <h2 class="fs-10 fw-bold mb-0">活動訂票網</h2>
          </div>
        </a>
        <form class="navbar-search d-flex" role="search">
          <input
            class="form-control font-tw-sans bg-transparent border-dark border-2 rounded-0 py-2 py-md-4 ps-3 ps-md-6"
            type="search" placeholder="探索活動" aria-label="Search">
          <button class="btn btn-dark border-dark border-2 px-3 py-0 px-md-4 py-md-3" type="submit">
            <i class="icofont icofont-search-1 text-primary"></i>
          </button>
        </form>
      </div>
      <button class="navbar-toggler border-dark link-dark" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mt-8 mt-lg-0 ms-auto mb-2 mb-lg-0 fs-10 font-en-serif">
        <li class="nav-item me-4">
          <a class="nav-link" aria-current="page" href="#">
            <i class="icofont icofont-ui-file me-1"></i>
            REGISTER
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="icofont icofont-ui-user me-1"></i>
            LOGIN
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>