.tag {
  position: relative;
  display: inline-block;
  padding: 4px 16px;
  border: 1px solid $dark;
  font-size: $normal4-font-size;
  font-weight: 700;
  transition: all ease 0.3s;

  @include media-breakpoint-up(md) {
    font-size: $normal4-font-size;
    padding: 4px 24px;
  }

  &::after {
    content: "";
    position: absolute;
    height: calc(100% + 2px);
    width: 4px;
    left: -1px;
    top: -1px;
    z-index: 1;
    background-color: $dark;
    transition: all ease 0.3s;
  }

  &:hover {
    color: $white;
    background-color: $dark;
    &::after {
      background-color: $primary;
    }
  }
}
